<div class="list">
	<h1>Create book</h1>
    <%= form_for(book) do |f| %>
      <div>Title</div>
      <%= f.text_field :title %>

      <div>Opinion</div>
      <%= f.text_area :body %>

     <div></div>
	  <%= f.submit class: "btn btn-success" %>

    <% end %>
</div>

