// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list{
	padding: 30px 0px;
}

.editbtn{
	color: #fff;
}

.destroybtn{
	color: #fff;
}