// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
	font-family:  "arial black";
	color: #2E8B57;
}

.info h1{
	color: #343a40;
	font-size: 30px;
}

.list h1{
	color: #343a40;
	font-size: 30px;
}
